<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
</head>
<body>
    {% for task in tasks %} <!-- use the Jinja templating language to loop through each task item from within our collection --> 
        <!-- Display the contents of each field that's in our database --> 
        currently
        {{ task.task_name }}<br> <!-- The . notation is used on each of these fields to target each key -->
        {{ task.category_name }}<br>
        {{ task.task_description }}<br>
        {{ task.is_urgent }}<br>
        {{ task.due_date }}<br>  
    {% endfor %}


</body>
</html>